.nav-bar{
    min-height: 6rem;
    padding: 0 !important;
}

.header {
    position: relative; /* Needed for the pseudo-element to position correctly */
    background-image: url('../img/hero-bg-light.webp'); /* Set the background image */
    background-size: cover; /* Ensure the image covers the whole header */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent image from repeating */
}

.header::before {
    content: ''; /* Required for a pseudo-element */
    position: absolute; /* Position it over the header */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9); /* Half-transparent white overlay (you can use other colors if needed) */
    z-index: 1; /* Ensure the overlay is behind the content but over the image */
}

.header .container-fluid {
    position: relative; /* Make sure content stays above the overlay */
    z-index: 2; /* Places the content on top of the transparent layer */
}